---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Next to Play - about</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>What's this all about then?</h1>
    <p>
      There are so many great video games out there with new games releasing all
      the time. Once you end up finishing one game, it's hard sometimes to
      choose what to play next!
    </p>
    <p>
      Do you play the brand new release? What about the game on Xbox Game Pass
      or on the Playstation catalogue you? Ohhh is Steam having another sale?
      What should I snap up next?
    </p>
    <p>
      With so much to choose from and with many forums just keeping an eye on
      what's new, you can find yourself spending more time deciding what to play
      next than just playing something awesome!
    </p>
    <p>
      That's where we come in! If you're stuck, come here and see what I'm
      looking forward to and why. Check out what I think of some of the games
      I've played and if I reckon it's worth your time. Maybe it tickles your
      fancy, maybe it doesn't. But at least it's a decision made and get's you
      closer to spending some quality chill time instead of just doom scrolling
      because you couldn't pick!
    </p>
  </body>
</html>
